
.button {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    text-decoration: none;
    background-color: $button-color;
    padding: 0.5%;

    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
  } 
  
  .button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(145, 12, 12, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }

  
.delete-button {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  text-decoration: none;
  background-color: $button-color;
  padding: 3%;

  font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
} 

.delete-button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(145, 12, 12, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}


.edit-button {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  text-decoration: none;
  background-color: $button-color;
  padding: 3%;

  font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
} 

.edit-button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(145, 12, 12, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}

.submit-button
  {
    display: block;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-left: 44%;
    text-align: center;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    text-decoration: none;
    background-color: $button-color;

    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;

    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 4%;
    padding-left: 4%;
  }

  .submit-button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(145, 12, 12, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
  }

  .homepage-button
  {
    display: block;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-left: 3%;
    margin-right: 80%;
    text-align: center;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    text-decoration: none;
    background-color: $button-color;

    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;

    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 4%;
    padding-left: 4%;
  }

  .homepage-button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(145, 12, 12, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
  }

  .add-category-button
  {
    display: block;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-left: 44.5%;
    margin-top: 1%;
    text-align: center;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    text-decoration: none;
    background-color: $button-color;

    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;

    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 5%;
    padding-left: 5%;
  }

  .add-category-button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(145, 12, 12, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
  }
  