@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
  background: -webkit-gradient(linear, left top, right top, from(#25c481), to(#25b7c4));
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}

header {
  margin: 0;
  border-bottom: 2px solid #fff;
}

header h1 {
  margin: 0;
  padding: .5em 0;
  color: b #fff;
}

h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

h2 {
  padding-left: 3.5%;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  margin-left: 0%;
  padding-left: 3.5%;
}

nav ul li {
  padding-bottom: 0.5em;
  text-decoration: none;
}

.category {
  margin-top: 1%;
}

.category-list {
  border: 0 solid;
  -webkit-box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
          box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  text-decoration: none;
  background-color: #25b9ba;
  padding: 0.5%;
  margin-top: 5%;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

.category-list:hover {
  border: 1px solid;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(145, 12, 12, 0.2);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(145, 12, 12, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

/*
https://codepen.io/nikhil8krishnan/pen/WvYPvv bootstrap
https://dev.to/webdeasy/top-20-css-buttons-animations-f41 number 30 for button
*/
h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

.category-name {
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
}

table {
  width: 100%;
  table-layout: fixed;
}

.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
  height: 100px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/* demo styles */
section {
  margin: 50px;
}

/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}

.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}

.made-with-love a {
  color: #fff;
  text-decoration: none;
}

.made-with-love a:hover {
  text-decoration: underline;
}

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.manage-categories-container {
  margin-top: 2%;
}

label, input {
  display: block;
}

.label {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

.category-id-input {
  display: block;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-left: 44%;
  text-align: center;
  text-decoration: none;
}

.category-id-input-2 {
  display: block;
  padding-left: 2.4%;
  padding-right: 2.4%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-left: 44%;
  text-align: center;
  text-decoration: none;
}

.subject-input {
  display: block;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-left: 44%;
  text-align: center;
  text-decoration: none;
}

.amount-input {
  display: block;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-left: 44%;
  text-align: center;
  text-decoration: none;
}

.currency-input {
  display: block;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-left: 44%;
  text-align: center;
  text-decoration: none;
}

.time-stamp-input {
  display: block;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-left: 44%;
  text-align: center;
  text-decoration: none;
}

.name-input {
  display: block;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-left: 44%;
  text-align: center;
  text-decoration: none;
}

.button {
  border: 0 solid;
  -webkit-box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
          box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  text-decoration: none;
  background-color: #25b9ba;
  padding: 0.5%;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

.button:hover {
  border: 1px solid;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(145, 12, 12, 0.2);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(145, 12, 12, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.delete-button {
  border: 0 solid;
  -webkit-box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
          box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  text-decoration: none;
  background-color: #25b9ba;
  padding: 3%;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

.delete-button:hover {
  border: 1px solid;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(145, 12, 12, 0.2);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(145, 12, 12, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.edit-button {
  border: 0 solid;
  -webkit-box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
          box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  text-decoration: none;
  background-color: #25b9ba;
  padding: 3%;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

.edit-button:hover {
  border: 1px solid;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(145, 12, 12, 0.2);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(145, 12, 12, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.submit-button {
  display: block;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-left: 44%;
  text-align: center;
  border: 0 solid;
  -webkit-box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
          box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  text-decoration: none;
  background-color: #25b9ba;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 4%;
  padding-left: 4%;
}

.submit-button:hover {
  border: 1px solid;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(145, 12, 12, 0.2);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(145, 12, 12, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.homepage-button {
  display: block;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-left: 3%;
  margin-right: 80%;
  text-align: center;
  border: 0 solid;
  -webkit-box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
          box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  text-decoration: none;
  background-color: #25b9ba;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 4%;
  padding-left: 4%;
}

.homepage-button:hover {
  border: 1px solid;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(145, 12, 12, 0.2);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(145, 12, 12, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.add-category-button {
  display: block;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-left: 44.5%;
  margin-top: 1%;
  text-align: center;
  border: 0 solid;
  -webkit-box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
          box-shadow: inset 0 0 20px rgba(216, 30, 30, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  text-decoration: none;
  background-color: #25b9ba;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 5%;
  padding-left: 5%;
}

.add-category-button:hover {
  border: 1px solid;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(145, 12, 12, 0.2);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(145, 12, 12, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

footer {
  clear: both;
  margin-top: 1em;
  border-top: 2px solid #fff;
}

footer p {
  text-align: center;
  font-size: 80%;
  margin: 1em 0;
}
/*# sourceMappingURL=mystyle.css.map */